

$primary: #0054A4;
$light: #43bcec;
$secondary:#F9F9FC;
$success:#068E5E;
$info:#cbfeec;
$danger:#ff0000;
$warning:#fadfd1;
$font: 'Poppins', sans-serif;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';
